src/flows/CH_CreateProblemFromIncidentnProduct.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>NOKIASC-23082</description>
        <name>Assign_Problem_Origin_Field</name>
        <label>Assign Problem Origin Field</label>
        <locationX>311</locationX>
        <locationY>1791</locationY>
        <assignmentItems>
            <assignToReference>Problem.CH_Reported_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_the_Issue_Origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Category</name>
        <label>Assign Product Category</label>
        <locationX>1205</locationX>
        <locationY>2225</locationY>
        <assignmentItems>
            <assignToReference>Problem.CH_Problem_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductDefect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Defect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Existing_Problem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Category_False</name>
        <label>Assign Product Category False</label>
        <locationX>516</locationX>
        <locationY>2160</locationY>
        <assignmentItems>
            <assignToReference>Problem.CH_Defect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Problem_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not a Product Defect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Problem_Categorization_Validate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Details_for_New_Problem</name>
        <label>Assign Product Details for New Problem</label>
        <locationX>1435</locationX>
        <locationY>2216</locationY>
        <assignmentItems>
            <assignToReference>Problem.CH_Problem_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Problems__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_ProductVariant__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Product_Module__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_SW_Component__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_SW_Release__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_SW_Module__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_SW_Build__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_HW_Component__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_IssueDescription__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_ProblemCreationReason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Product_Release__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Solution__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Product_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Product_Release_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_CustomerDescription__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Reported_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAse from Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_HW_Firmware__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_HW_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reported_By</name>
        <label>Assign Reported By</label>
        <locationX>1251</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>Problem.CH_Reported_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nokia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Discovered_in__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Discovered_During__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.Severity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.CH_Urgency__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Problem.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Problem_Origin_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCHProblem</name>
        <label>AssignCHProblem</label>
        <locationX>1608</locationX>
        <locationY>2812</locationY>
        <assignmentItems>
            <assignToReference>Problem.CH_Problem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProblemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProblemCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalueseverity</name>
        <label>assignvalueseverity</label>
        <locationX>1924</locationX>
        <locationY>1665</locationY>
        <assignmentItems>
            <assignToReference>ValidateRecord.Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem.Severity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidateRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidateRecord.CH_Urgency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem.CH_Urgency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionforseverity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalueseverityproduct</name>
        <label>assignvalueseverityproduct</label>
        <locationX>2154</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>ValidateRecord.Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem.Severity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidateRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidateRecord.CH_Urgency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem.CH_Urgency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionforseverityproduct</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>prioritydefaultvalue</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;if( {!PriorityValue} ==&apos;&apos;, if(&amp;nbsp;isblank(text({!Problem.Priority})), &apos;None&apos;&amp;nbsp;, text({!Problem.Priority})) , {!PriorityValue})&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>priorityvaluedefault</name>
        <choiceText>{!priority}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SeverityDefaultValue</name>
        <choiceText>{!severity}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>urgencydefaultvalue</name>
        <choiceText>{!urgency}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>CH_Check_Problem_Type</name>
        <label>Check Problem Type</label>
        <locationX>429</locationX>
        <locationY>1143</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CH_Existing_Support_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupportTicket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Record_Id</targetReference>
            </connector>
            <label>Existing Support Ticket</label>
        </rules>
        <rules>
            <name>CH_New_Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewProblem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Problem</targetReference>
            </connector>
            <label>New Problem</label>
        </rules>
    </decisions>
    <decisions>
        <description>NOKIASC-23070
Incident must be correct Type</description>
        <name>CH_Record_Type_Checking</name>
        <label>Record Type Checking</label>
        <locationX>779</locationX>
        <locationY>1215</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_is_Nokia_Standard_Case_or_Nokia_Incident_with_Restoration</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recordtypename</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nokia Standard Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recordtypename</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nokia Incident with Restoration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incident_owner_Must_be_User</targetReference>
            </connector>
            <label>Record Type is  “Nokia Standard  Case” or “Nokia Incident with Restoration”</label>
        </rules>
        <rules>
            <name>Record_Type_is_not_equal_to_Nokia_Standard_case_or_Nokia_Incident_with_Restorati</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recordtypename</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recordtypename</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_HeaderMessage</targetReference>
            </connector>
            <label>Record Type is not equal to Nokia Standard case or Nokia Incident with Restoration</label>
        </rules>
    </decisions>
    <decisions>
        <description>NOKIASC-23085</description>
        <name>Check_Update_Product_Details</name>
        <label>Check/Update Product Details</label>
        <locationX>753</locationX>
        <locationY>2492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Solution_Is_Null_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_Solution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Information_Screen</targetReference>
            </connector>
            <label>Solution Is Null True</label>
        </rules>
        <rules>
            <name>Solution_Is_Null_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_Solution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SoltionNotEqualsPRroduct</targetReference>
            </connector>
            <label>Solution Is Null False</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionforpriority</name>
        <label>decisionforpriority</label>
        <locationX>2148</locationX>
        <locationY>2023</locationY>
        <defaultConnector>
            <targetReference>urgencyvalidation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionpriorityfalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>priorityscreen</targetReference>
            </connector>
            <label>decisionpriorityfalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionforpriorityproduct</name>
        <label>decisionforpriorityproduct</label>
        <locationX>2475</locationX>
        <locationY>1364</locationY>
        <defaultConnector>
            <targetReference>urgencyvalidationproduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionpriorityfalseproduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priorityscreenfromproduct</targetReference>
            </connector>
            <label>decisionpriorityfalseproduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionforseverity</name>
        <label>decisionforseverity</label>
        <locationX>2190</locationX>
        <locationY>1825</locationY>
        <defaultConnector>
            <targetReference>decisionforpriority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionseverity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateRecord.Severity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Severity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Severity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Severity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Information Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Severity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>priorityscreen</targetReference>
            </connector>
            <label>decisionseverityfalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionforseverityproduct</name>
        <label>decisionforseverityproduct</label>
        <locationX>2443</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>decisionforpriorityproduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionseverityfalseproduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateRecord.Severity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Severity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.Severity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ShowSeverityerrorScreen</targetReference>
            </connector>
            <label>decisionseverityfalseproduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_NewProblem</name>
        <label>Existing/NewProblem</label>
        <locationX>1415</locationX>
        <locationY>2503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Incident3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupportTicket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Problem1</targetReference>
            </connector>
            <label>Existing Incident3</label>
        </rules>
        <rules>
            <name>NewIncident3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewProblem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getaccountvalue</targetReference>
            </connector>
            <label>NewIncident3</label>
        </rules>
    </decisions>
    <decisions>
        <description>NOKIASC-23079
Incident Owner must be User</description>
        <name>Incident_owner_Must_be_User</name>
        <label>Incident owner Must be User</label>
        <locationX>748</locationX>
        <locationY>1366</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CH_Incident_owner_Must_be_User_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedToUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Problem.CH_Workgroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Information_must_exist</targetReference>
            </connector>
            <label>Incident owner Must be User - Success</label>
        </rules>
        <rules>
            <name>Incident_owner_Must_be_User_false_Fails</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssignedToUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Problem.CH_Workgroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>usermessagefooter</targetReference>
            </connector>
            <label>Incident owner Must be User -Fails</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_Incident_Defect</name>
        <label>IS Incident Defect</label>
        <locationX>698</locationX>
        <locationY>2094</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incident_Defect_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_Defect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Category</targetReference>
            </connector>
            <label>Incident Defect  -True</label>
        </rules>
        <rules>
            <name>Incident_Defect_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_Defect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Category_False</targetReference>
            </connector>
            <label>Incident Defect - False</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Existing_Problem</name>
        <label>New/Existing Problem</label>
        <locationX>906</locationX>
        <locationY>2264</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Incident2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupportTicket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_Categorization_Validate</targetReference>
            </connector>
            <label>Existing Incident2</label>
        </rules>
        <rules>
            <name>New_Problem2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewProblem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateproduct</targetReference>
            </connector>
            <label>New Problem2</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_ExistingProblem</name>
        <label>New/Existing Problem</label>
        <locationX>1515</locationX>
        <locationY>2025</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Incident1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupportTicket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_Incident_Defect</targetReference>
            </connector>
            <label>Existing Incident1</label>
        </rules>
        <rules>
            <name>New_Problem1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewProblem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Details_for_New_Problem</targetReference>
            </connector>
            <label>New Problem1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nokia US 23082/Creation of New Probolem</description>
        <name>NewProblem_ExistingIncident</name>
        <label>NewProblem/ExistingIncident</label>
        <locationX>1298</locationX>
        <locationY>1587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupportTicket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_Prioritization_Done_Check</targetReference>
            </connector>
            <label>Existing Incident</label>
        </rules>
        <rules>
            <name>New_Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewProblem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priorityscreenfromproduct</targetReference>
            </connector>
            <label>New Problem</label>
        </rules>
    </decisions>
    <decisions>
        <description>NOKIASC-23084</description>
        <name>Problem_Categorization_Validate</name>
        <label>Problem Categorization Validate</label>
        <locationX>986</locationX>
        <locationY>2424</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Problem_Categorization_succes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_Problem_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Update_Product_Details</targetReference>
            </connector>
            <label>Problem Categorization  success</label>
        </rules>
        <rules>
            <name>Problem_Categorization_Fails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_Problem_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateproduct</targetReference>
            </connector>
            <label>Problem Categorization  Fails</label>
        </rules>
    </decisions>
    <decisions>
        <description>NOKIASC-23081</description>
        <name>Problem_Information_must_be_filled</name>
        <label>Problem Information must be filled</label>
        <locationX>741</locationX>
        <locationY>1690</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issue_Description_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_IssueDescription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Problem_Origin_Field</targetReference>
            </connector>
            <label>Issue Description -Success</label>
        </rules>
        <rules>
            <name>Issue_Description_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_IssueDescription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Description_Error_Screen</targetReference>
            </connector>
            <label>Issue Description -Failure</label>
        </rules>
    </decisions>
    <decisions>
        <description>NOKIASC-23083</description>
        <name>Problem_Prioritization_Done_Check</name>
        <label>Problem Prioritization Done Check</label>
        <locationX>686</locationX>
        <locationY>1947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Problem_Prioritization_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.Severity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Problem.CH_Urgency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Problem.Priority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_Incident_Defect</targetReference>
            </connector>
            <label>Problem Prioritization  Success</label>
        </rules>
        <rules>
            <name>Problem_Prioritization_Fails</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Problem.Severity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Problem.CH_Urgency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Problem.Priority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>priorityscreen</targetReference>
            </connector>
            <label>Problem Prioritization Fails</label>
        </rules>
    </decisions>
    <decisions>
        <description>NOKIASC-23080</description>
        <name>Product_Information_must_exist</name>
        <label>Product Information must exist</label>
        <locationX>749</locationX>
        <locationY>1566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Information_Exist_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_Information_must_be_filled</targetReference>
            </connector>
            <label>Product Information Exist - Success</label>
        </rules>
        <rules>
            <name>Product_Information_Exist_Failure</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Problem.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Informatopn_Error_Page</targetReference>
            </connector>
            <label>Product Information Exist - Failure</label>
        </rules>
    </decisions>
    <decisions>
        <description>NOKIASC-23082</description>
        <name>Set_the_Issue_Origin</name>
        <label>Set the Issue Origin</label>
        <locationX>706</locationX>
        <locationY>1809</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_Problem_Origin_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_Discovered_During__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Problem.CH_Discovered_in__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_Prioritization_Done_Check</targetReference>
            </connector>
            <label>Validate Problem Origin - Success</label>
        </rules>
        <rules>
            <name>Validate_Problem_Origin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Problem.CH_Discovered_During__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Problem.CH_Discovered_in__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_Origin_Fields</targetReference>
            </connector>
            <label>Validate Problem Origin Failure</label>
        </rules>
    </decisions>
    <decisions>
        <name>urgencyvalidation</name>
        <label>urgencyvalidation</label>
        <locationX>1907</locationX>
        <locationY>2272</locationY>
        <defaultConnector>
            <targetReference>New_ExistingProblem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>urgencyvalidationsetfalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateRecord.CH_Urgency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U1 - Code Red</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.CH_Urgency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U2 - Urgent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.CH_Urgency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U3 - Normal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.CH_Urgency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U4 - Best Effort</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>priorityscreen</targetReference>
            </connector>
            <label>urgencyvalidationsetfalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>urgencyvalidationproduct</name>
        <label>urgencyvalidationproduct</label>
        <locationX>2658</locationX>
        <locationY>1519</locationY>
        <defaultConnector>
            <targetReference>New_ExistingProblem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>urgencyvalidationsetfalseproduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateRecord.CH_Urgency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U1 - Code Red</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.CH_Urgency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U2 - Urgent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.CH_Urgency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U3 - Normal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateRecord.CH_Urgency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U4 - Best Effort</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priorityscreenfromproduct</targetReference>
            </connector>
            <label>urgencyvalidationsetfalseproduct</label>
        </rules>
    </decisions>
    <description>NOKIASC-23031 + NOKIASC-25486+nokiasc-29124(deleting solution&lt;&gt; product change of 23085)</description>
    <dynamicChoiceSets>
        <name>Priorityvalueset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SeverityVal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Severity__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UrgencyValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_Urgency__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>priority</name>
        <dataType>String</dataType>
        <expression>if(  isblank(text({!Problem.Priority})), &apos;None&apos;  , text({!Problem.Priority}))</expression>
    </formulas>
    <formulas>
        <name>severity</name>
        <dataType>String</dataType>
        <expression>if( {!SeverityValue} ==&apos;&apos;, if(  isblank(text({!Problem.Severity__c})), &apos;None&apos;  , text({!Problem.Severity__c})) , {!SeverityValue})</expression>
    </formulas>
    <formulas>
        <name>urgency</name>
        <dataType>String</dataType>
        <expression>if(  isblank(text({!Problem.CH_Urgency__c})), &apos;None&apos;  , text({!Problem.CH_Urgency__c}))</expression>
    </formulas>
    <interviewLabel>CH_CreateProblemFromIncidentnProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH_CreateProblemFromIncidentnProduct</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Problem</name>
        <label>Create New Problem</label>
        <locationX>1757</locationX>
        <locationY>2356</locationY>
        <assignRecordIdToReference>NewProblemId</assignRecordIdToReference>
        <connector>
            <targetReference>QueryNewProblemRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountValue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_AssessedOutage__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Defect__c</field>
            <value>
                <elementReference>Problem.CH_Defect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Discovered_During__c</field>
            <value>
                <elementReference>Problem.CH_Discovered_During__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Discovered_in__c</field>
            <value>
                <elementReference>Problem.CH_Discovered_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_HW_Component__c</field>
            <value>
                <elementReference>Problem.CH_HW_Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_HW_Firmware__c</field>
            <value>
                <elementReference>Problem.CH_HW_Firmware__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_HW_Name__c</field>
            <value>
                <elementReference>Problem.CH_HW_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_IssueDescription__c</field>
            <value>
                <elementReference>Issuedescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProblemCreationReason__c</field>
            <value>
                <elementReference>Problem.CH_ProblemCreationReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Problem_Category__c</field>
            <value>
                <elementReference>Problem.CH_Problem_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Problem_Type__c</field>
            <value>
                <elementReference>Problem.CH_Problem_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Problems__c</field>
            <value>
                <elementReference>Problem.CH_Problems__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProductVariant__c</field>
            <value>
                <elementReference>Problem.CH_ProductVariant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Product_Module__c</field>
            <value>
                <elementReference>Problem.CH_Product_Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Product_Release__c</field>
            <value>
                <elementReference>Problem.CH_Product_Release__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Reported_By__c</field>
            <value>
                <elementReference>Problem.CH_Reported_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_RouteCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Build__c</field>
            <value>
                <elementReference>Problem.CH_SW_Build__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Component__c</field>
            <value>
                <elementReference>Problem.CH_SW_Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Module__c</field>
            <value>
                <elementReference>Problem.CH_SW_Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Release__c</field>
            <value>
                <elementReference>Problem.CH_SW_Release__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ServiceType__c</field>
            <value>
                <stringValue>Internal Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Solution__c</field>
            <value>
                <elementReference>Problem.CH_Solution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Urgency__c</field>
            <value>
                <elementReference>Problem.CH_Urgency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Problem.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <elementReference>Problem.Severity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Problem1</name>
        <label>Create Problem1</label>
        <locationX>1391</locationX>
        <locationY>2660</locationY>
        <assignRecordIdToReference>NewProblemId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignCHProblem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Problem.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_3rdPartySecurityGroup__c</field>
            <value>
                <elementReference>Problem.CH_3rdPartySecurityGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_AssessedOutage__c</field>
            <value>
                <elementReference>Problem.CH_AssessedOutage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Defect__c</field>
            <value>
                <elementReference>Problem.CH_Defect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Discovered_During__c</field>
            <value>
                <elementReference>Problem.CH_Discovered_During__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Discovered_in__c</field>
            <value>
                <elementReference>Problem.CH_Discovered_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_HW_Component__c</field>
            <value>
                <elementReference>Problem.CH_HW_Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_HW_Firmware__c</field>
            <value>
                <elementReference>Problem.CH_HW_Firmware__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_HW_Name__c</field>
            <value>
                <elementReference>Problem.CH_HW_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_IssueDescription__c</field>
            <value>
                <elementReference>Issuedescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Originating_Incident_Number__c</field>
            <value>
                <elementReference>Problem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProblemCreationReason__c</field>
            <value>
                <elementReference>Problem.CH_ProblemCreationReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Problem_Category__c</field>
            <value>
                <elementReference>Problem.CH_Problem_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Problem_Type__c</field>
            <value>
                <elementReference>Problem.CH_Problem_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Problems__c</field>
            <value>
                <elementReference>Problem.CH_Problems__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProductVariant__c</field>
            <value>
                <elementReference>Problem.CH_ProductVariant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Product_Module__c</field>
            <value>
                <elementReference>Problem.CH_Product_Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Product_Release__c</field>
            <value>
                <elementReference>Problem.CH_Product_Release__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ReportedDate__c</field>
            <value>
                <elementReference>Problem.CH_ReportedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Reported_By__c</field>
            <value>
                <elementReference>Problem.CH_Reported_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_RouteCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Build__c</field>
            <value>
                <elementReference>Problem.CH_SW_Build__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Component__c</field>
            <value>
                <elementReference>Problem.CH_SW_Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Module__c</field>
            <value>
                <elementReference>Problem.CH_SW_Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Release__c</field>
            <value>
                <elementReference>Problem.CH_SW_Release__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ServiceType__c</field>
            <value>
                <stringValue>Internal Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Solution__c</field>
            <value>
                <elementReference>Problem.CH_Solution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Urgency__c</field>
            <value>
                <elementReference>ValidateRecord.CH_Urgency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Problem.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>ValidateRecord.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Problem.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <elementReference>ValidateRecord.Severity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Problem_From_Solution</name>
        <label>Create Problem From Solution</label>
        <locationX>1416</locationX>
        <locationY>2858</locationY>
        <assignRecordIdToReference>NewProblemId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignCHProblem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Problem.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_3rdPartySecurityGroup__c</field>
            <value>
                <elementReference>Problem.CH_3rdPartySecurityGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_AssessedOutage__c</field>
            <value>
                <elementReference>Problem.CH_AssessedOutage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Defect__c</field>
            <value>
                <elementReference>Problem.CH_Defect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Discovered_During__c</field>
            <value>
                <elementReference>Problem.CH_Discovered_During__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Discovered_in__c</field>
            <value>
                <elementReference>Problem.CH_Discovered_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_HW_Component__c</field>
            <value>
                <elementReference>Problem.CH_HW_Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_HW_Firmware__c</field>
            <value>
                <elementReference>Problem.CH_HW_Firmware__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_HW_Name__c</field>
            <value>
                <elementReference>Problem.CH_HW_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_IssueDescription__c</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Originating_Incident_Number__c</field>
            <value>
                <elementReference>Problem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProblemCreationReason__c</field>
            <value>
                <elementReference>Problem.CH_ProblemCreationReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Problem_Category__c</field>
            <value>
                <elementReference>Problem.CH_Problem_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Problem_Type__c</field>
            <value>
                <elementReference>Problem.CH_Problem_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Problems__c</field>
            <value>
                <elementReference>Problem.CH_Problems__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProductVariant__c</field>
            <value>
                <elementReference>Problem.CH_ProductVariant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Product_Module__c</field>
            <value>
                <elementReference>Problem.CH_Product_Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Product_Release__c</field>
            <value>
                <elementReference>Problem.CH_Product_Release__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ReportedDate__c</field>
            <value>
                <elementReference>Problem.CH_ReportedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Reported_By__c</field>
            <value>
                <elementReference>Problem.CH_Reported_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_RouteCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Build__c</field>
            <value>
                <elementReference>Problem.CH_SW_Build__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Component__c</field>
            <value>
                <elementReference>Problem.CH_SW_Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Module__c</field>
            <value>
                <elementReference>Problem.CH_SW_Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SW_Release__c</field>
            <value>
                <elementReference>Problem.CH_SW_Release__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ServiceType__c</field>
            <value>
                <stringValue>Internal Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Solution__c</field>
            <value>
                <elementReference>Problem.CH_Solution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Urgency__c</field>
            <value>
                <elementReference>Problem.CH_Urgency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Problem.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Problem.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Problem.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <elementReference>Problem.Severity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TitleVal</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Problem</name>
        <label>Get New Problem</label>
        <locationX>665</locationX>
        <locationY>909</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Reported_By</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>New_Problem_From_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getaccountvalue</name>
        <label>getaccountvalue</label>
        <locationX>1551</locationX>
        <locationY>2491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Problem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NOKIA OYJ</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountValue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryNewProblemRecord</name>
        <label>QueryNewProblemRecord</label>
        <locationX>2013</locationX>
        <locationY>2376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProblemId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>NewProblem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>CH_Case_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Store_Record_Id</name>
        <label>Store Record Id</label>
        <locationX>628</locationX>
        <locationY>1213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_Record_Type_Checking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Problem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_Workgroup__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CH_Case_Number__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>CH_Product_Name__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>CH_Problems__c</queriedFields>
        <queriedFields>CH_CustomerDescription__c</queriedFields>
        <queriedFields>CH_Product_Release_Name__c</queriedFields>
        <queriedFields>CH_Product_Release__c</queriedFields>
        <queriedFields>CH_ProductName__c</queriedFields>
        <queriedFields>CH_Product_Module__c</queriedFields>
        <queriedFields>CH_SW_Component__c</queriedFields>
        <queriedFields>CH_SW_Release__c</queriedFields>
        <queriedFields>CH_SW_Module__c</queriedFields>
        <queriedFields>CH_SW_Build__c</queriedFields>
        <queriedFields>CH_HW_Component__c</queriedFields>
        <queriedFields>CH_IssueDescription__c</queriedFields>
        <queriedFields>CH_Reported_By__c</queriedFields>
        <queriedFields>CH_Reported_Date__c</queriedFields>
        <queriedFields>CH_Discovered_During__c</queriedFields>
        <queriedFields>CH_Discovered_in__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Severity__c</queriedFields>
        <queriedFields>CH_Urgency__c</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>CH_Defect__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>CH_Problem_Category__c</queriedFields>
        <queriedFields>CH_Problem_Type__c</queriedFields>
        <queriedFields>CH_Problem__c</queriedFields>
        <queriedFields>CH_Solution__c</queriedFields>
        <queriedFields>CH_ProductVariant__c</queriedFields>
        <queriedFields>CH_ProblemCreationReason__c</queriedFields>
        <queriedFields>CH_HW_Name__c</queriedFields>
        <queriedFields>CH_HW_Firmware__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CH_ReportedDate__c</queriedFields>
        <queriedFields>CH_Originating_Incident_Number__c</queriedFields>
        <queriedFields>CH_Solution_Name__c</queriedFields>
        <queriedFields>CH_ServiceType__c</queriedFields>
        <queriedFields>CH_AssessedOutage__c</queriedFields>
        <queriedFields>CH_3rdPartySecurityGroup__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProblemCaseRecord</name>
        <label>UpdateProblemRecord</label>
        <locationX>1943</locationX>
        <locationY>2725</locationY>
        <connector>
            <targetReference>QueryNewProblemRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Problem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CH_Problem__c</field>
            <value>
                <elementReference>NewProblemId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>CH_HeaderMessage</name>
        <label>Record Type Details Message</label>
        <locationX>1061</locationX>
        <locationY>1152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CH_Create_Problem</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Problem Creation Flow&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;color: rgb(137, 10, 10);&quot;&gt;Creation of a Problem is not Possible&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(137, 10, 10);&quot;&gt;     from a Support Ticket of Type : {!Recordtypename}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(166, 27, 27);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CH_ShowSeverityerrorScreen</name>
        <label>CH_ShowSeverityerrorScreen</label>
        <locationX>2069</locationX>
        <locationY>1287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Priorityscreenfromproduct</targetReference>
        </connector>
        <fields>
            <name>CH_SeverityInformationRequestErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(234, 15, 15);&quot;&gt;Severity Information Request not allowed for a Problem&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrrorScreen</name>
        <label>ErrrorScreen</label>
        <locationX>1571</locationX>
        <locationY>2652</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrroMessgae</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(208, 12, 12);&quot;&gt;Something went wrong please contact your Key User, or try again&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initiate_Problem_Creation_UI</name>
        <label>Initiate Problem Creation UI</label>
        <locationX>1263</locationX>
        <locationY>2543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_NewProblem</targetReference>
        </connector>
        <fields>
            <name>ProblemCreationUIScreen</name>
            <fieldText>&lt;p&gt;Please provide a Title and Description for the Problem&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Issuedescription</name>
            <defaultValue>
                <stringValue>{!Problem.CH_IssueDescription__c}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReasonPL</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_ProblemCreationReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_ProblemCreationReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_ProblemCreationReason__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InitiateProblemCreation</name>
        <label>InitiateProblemCreation</label>
        <locationX>1267</locationX>
        <locationY>2745</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Problem_From_Solution</targetReference>
        </connector>
        <fields>
            <name>Displaymessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please provide a Title and Description for the Problem&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TitleVal</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Issue_Description</name>
            <defaultValue>
                <stringValue>{!Problem.CH_IssueDescription__c}</stringValue>
            </defaultValue>
            <fieldText>Issue Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReasonPLSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_ProblemCreationReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_ProblemCreationReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_ProblemCreationReason__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Issue_Description_Error_Screen</name>
        <label>Issue Description Error Screen</label>
        <locationX>930</locationX>
        <locationY>1697</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IssueDescriptionError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(234, 10, 10);&quot;&gt;Problem Creation Flow&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 10, 10);&quot;&gt;Creation of a Problem is not Possible before Technical Analysis is completed&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 10, 10);&quot;&gt;Issue Description - {!Problem.CH_IssueDescription__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>prioritazationscreen</name>
        <label>prioritazationscreen</label>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screenvalue</name>
            <fieldText>&lt;p&gt;Please Update the Problem Prioritization Fields&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SeverityValue</name>
            <choiceReferences>SeverityVal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Severity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PriorityValue</name>
            <choiceReferences>Priorityvalueset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>priorityscreen</name>
        <label>priorityscreen</label>
        <locationX>1670</locationX>
        <locationY>1688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignvalueseverity</targetReference>
        </connector>
        <fields>
            <name>displaytext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please update the Problem Prioritization Field&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>severityvaluesc</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Severity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.Severity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>RecordtypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.Severity__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>urgencysetpl</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_Urgency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_Urgency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>RecordtypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_Urgency__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>priorityvalues</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.Priority</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>RecordtypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.Priority</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Priorityscreenfromproduct</name>
        <label>Priorityscreenfromproduct</label>
        <locationX>1787</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignvalueseverityproduct</targetReference>
        </connector>
        <fields>
            <name>severityvaluescproduct</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Severity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>RecordtypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.Severity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.Severity__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>urgencysetplproduct</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_Urgency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_Urgency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>RecordtypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_Urgency__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>priorityvaluesproduct</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>RecordtypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.Priority</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.Priority</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Problem_Origin_Fields</name>
        <label>Problem Origin Fields Scren</label>
        <locationX>1281</locationX>
        <locationY>1302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewProblem_ExistingIncident</targetReference>
        </connector>
        <fields>
            <name>problemorigin</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Please Provide Details on the Problem Origin&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProblemOriginFields</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>CH_Reported_By__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>CH_Discovered_in__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Problem.CH_Reported_By__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Discovered In</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Problem.CH_Discovered_in__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Reported By</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>CH_Discovered_During__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Discovered During</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <elementReference>Problem.CH_Discovered_During__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_Reported_By__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Problem.CH_Discovered_in__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Problem.CH_Discovered_During__c</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Information_Screen</name>
        <label>Product Information Screen</label>
        <locationX>1088</locationX>
        <locationY>2548</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Initiate_Problem_Creation_UI</targetReference>
        </connector>
        <fields>
            <name>ProductName</name>
            <fieldText>&lt;p&gt;Product : {!Problem.CH_Product_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!New_Problem_From_Product.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductRelease</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_Product_Release__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_Product_Release__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_Product_Release__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ProductVariant</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_ProductVariant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_ProductVariant__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_ProductVariant__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ProductModule</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_Product_Module__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_Product_Module__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_Product_Module__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SolutionProduct</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_Solution__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_Solution__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_Solution__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SWComponenet</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_SW_Component__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_SW_Component__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_SW_Component__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SWRelease</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_SW_Release__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_SW_Release__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_SW_Release__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SWModule</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_SW_Module__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_SW_Module__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_SW_Module__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SWBuild</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_SW_Build__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_SW_Build__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_SW_Build__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HWComponent</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_HW_Component__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_HW_Component__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_HW_Component__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HWFirmware</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_HW_Firmware__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_HW_Firmware__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_HW_Firmware__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HWName</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_HW_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_HW_Name__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_HW_Name__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Informatopn_Error_Page</name>
        <label>Product Informatopn Error Page</label>
        <locationX>520</locationX>
        <locationY>1568</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProductErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Problem Creation Flow&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(238, 4, 4);&quot;&gt;Creation of a Problem from this Case is not Possible as Product Information is missing&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 4, 4);&quot;&gt;Product -&amp;nbsp;{!Problem.CH_Product_Name__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductInformationScreenDetails</name>
        <label>ProductInformationScreenDetails</label>
        <locationX>1166</locationX>
        <locationY>2656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>InitiateProblemCreation</targetReference>
        </connector>
        <fields>
            <name>Prodcuctinfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Product - &lt;/b&gt;{!Problem.CH_Product_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Solution - &lt;/b&gt;{!Problem.CH_Solution_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductReleaseSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_Product_Release__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_Product_Release__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_Product_Release__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ProductVariantSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_ProductVariant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_ProductVariant__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_ProductVariant__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ProductModuleSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_Product_Module__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_Product_Module__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_Product_Module__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SWComponenetSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_SW_Component__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_SW_Component__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_SW_Component__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SWReleaseSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_SW_Release__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_SW_Release__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_SW_Release__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SWModuleSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_SW_Module__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_SW_Module__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_SW_Module__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SWBuildSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_SW_Build__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_SW_Build__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_SW_Build__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HWComponentSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_HW_Component__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_HW_Component__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_HW_Component__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HWNameSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_HW_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_HW_Name__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_HW_Name__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HWFirmwareSol</name>
            <extensionName>c:CH_LightningLookUpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>CH_HW_Firmware__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Problem.CH_HW_Firmware__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_HW_Firmware__c</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Add similar like Previous Solution Name Read Only</description>
        <name>SoltionNotEqualsPRroduct</name>
        <label>SoltionNotEqualsPRroduct</label>
        <locationX>1010</locationX>
        <locationY>2655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ProductInformationScreenDetails</targetReference>
        </connector>
        <fields>
            <name>solutionproblem</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Creation of a Problem will be done with following Product Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Product - &lt;/b&gt;{!Problem.CH_Product_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Solution - &lt;/b&gt;{!Problem.CH_Solution_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Product Release -&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Problem.CH_Product_Release_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>2324</locationX>
        <locationY>2425</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Problem  {!NewProblem.CaseNumber} created &lt;/p&gt;&lt;p&gt;You can access it here  - {!NewProblem.CH_Case_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>updateproduct</name>
        <label>updateproduct</label>
        <locationX>1579</locationX>
        <locationY>2370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Update_Product_Details</targetReference>
        </connector>
        <fields>
            <name>UpdateProblemRecord</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please Update the Problem Categorization Fields&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProblemTypeList</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>CH_Problem_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>CH_Problem_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>CH_Problems__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Problem.CH_Problem_Category__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Problem.CH_Problem_Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <elementReference>Problem.CH_Problems__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Problem.CH_Problem_Category__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Problem.CH_Problem_Type__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Problem.CH_Problems__c</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>usermessagefooter</name>
        <label>Support Ticket Must be Assigned</label>
        <locationX>1114</locationX>
        <locationY>1343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IncidentOwnerMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Problem Creation Flow&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 15, 15);&quot;&gt;Creation of a Problem is not Possible until the Support Ticket is Assigned&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>CH_Check_Problem_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssignedToUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DiscoveredDuring</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DiscoveredIn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HWComponentSolValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HWComponentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HWFirmwareSolValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HWFirmwareValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HWNameSolvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HWNameValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Problem_From_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>NewProblem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewProblemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriorityPLValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Problem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Problemcategoryvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProblemType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProblemTYpeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProblemValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductDefect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Product Defect</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProductModuleSolValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductModuleValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductReleaseSolValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductReleaseValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductVariantSolValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductVariantvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReasonPLSolVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReasonPLValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recordtypename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReportedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SevrityPLValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SolutionValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SWBuildSolValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SWBuildValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SWComponenetSolValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SWComponenetValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SWModuleSolValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SWModuleValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SWReleaseSolValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SWReleaseValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UrgencyPValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>validatepriority</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ValidateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>WorkGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
