src/flows/CH_ProvideTemporarySolution.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CH_ChatterPost</name>
        <label>Chatter Post</label>
        <locationX>323</locationX>
        <locationY>344</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>CH_FetchIncident</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CH_LoopSObject.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CH_ChatterMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Problem_to_Article_Mapping</name>
        <label>Problem to Article Mapping</label>
        <locationX>860</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_WorkAround__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.CH_TemporarySolution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_ProblemDescriptionRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ifIssueDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.CH_SolutionDetails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_DiagnosticSteps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.Steps_to_Reproduce_Issue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.CH_Root_Cause_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_ProductId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Known Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Article</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>KnowledgeSobjectType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knowledge__kav</stringValue>
        </value>
    </constants>
    <constants>
        <name>KnownErrorRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Known Error</stringValue>
        </value>
    </constants>
    <constants>
        <name>LookForDraftArticle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CH_ValidateTemporarySolution</name>
        <label>Validate Temporary Solution</label>
        <locationX>185</locationX>
        <locationY>104</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_TemporarySolutionIsNotNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CH_ProblemSObject.CH_TemporarySolution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ProblemSObject.CH_Workaround_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ProblemSObject.CH_Workaround_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>n/a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_FetchIncident</targetReference>
            </connector>
            <label>Temporary Solution Is Not Null</label>
        </rules>
        <rules>
            <name>CH_TemporarySolutionIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_ProblemSObject.CH_TemporarySolution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ProblemSObject.CH_Workaround_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ErrorScreen</targetReference>
            </connector>
            <label>Temporary Solution Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Article_Found</name>
        <label>Related Article Found?</label>
        <locationX>851</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>No_Related_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedArticle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_to_Article_Mapping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ifIssueDescription</name>
        <dataType>String</dataType>
        <expression>if({!CH_ProblemSObject.CH_IssueDescription__c} != null, {!CH_ProblemSObject.CH_IssueDescription__c}, &apos;tbd&apos;)</expression>
    </formulas>
    <interviewLabel>Provide Temporary Solution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provide Temporary Solution</label>
    <loops>
        <name>CH_IncidentLoop</name>
        <label>Incident Loop</label>
        <locationX>475</locationX>
        <locationY>217</locationY>
        <assignNextValueToReference>CH_LoopSObject</assignNextValueToReference>
        <collectionReference>CH_IncidentCollectionVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CH_ChatterPost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CH_StatusUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CH_FetchIncident</name>
        <label>Fetch Incident</label>
        <locationX>190</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_IncidentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_Problem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CH_ProblemSObject.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_IncidentCollectionVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CH_FetchProblem</name>
        <label>Fetch Problem</label>
        <locationX>180</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_ValidateTemporarySolution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_ProblemSObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_TemporarySolution__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CH_SolutionDetails__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CH_ProblemStatement__c</queriedFields>
        <queriedFields>CH_SummaryofAnalysis__c</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>Steps_to_Reproduce_Issue__c</queriedFields>
        <queriedFields>CH_Root_Cause_Description__c</queriedFields>
        <queriedFields>CH_IssueDescription__c</queriedFields>
        <queriedFields>CH_Workaround_Available__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Problem_Record_Type</name>
        <label>Get Problem Record Type</label>
        <locationX>860</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Article</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnownErrorRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeSobjectType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>KnownErrorRT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Article</name>
        <label>Get Related Article</label>
        <locationX>734</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Article_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookForDraftArticle</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnownErrorRT.Id</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>RelatedArticle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_WorkAround__c</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>CH_ProblemDescriptionRequired__c</queriedFields>
        <queriedFields>CH_Solution__c</queriedFields>
        <queriedFields>CH_DiagnosticSteps__c</queriedFields>
        <queriedFields>CH_Cause__c</queriedFields>
        <queriedFields>CH_ProductId__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CH_StatusUpdate</name>
        <label>Status Update</label>
        <locationX>691</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>Get_Problem_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Temp. Sol. Shared</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Article</name>
        <label>Update Related Article</label>
        <locationX>1054</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Provide_Temporary_Solution</targetReference>
        </connector>
        <inputReference>RelatedArticle</inputReference>
    </recordUpdates>
    <screens>
        <name>CH_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>477</locationX>
        <locationY>102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CH_ErrorMessage</name>
            <fieldText>Temporary Solution Field on Problem should not be Null.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Related_Article</name>
        <label>No Related Article</label>
        <locationX>1053</locationX>
        <locationY>379</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;There is no editable Article related with this Support Ticket.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Temporary_Solution</name>
        <label>Provide Temporary Solution</label>
        <locationX>1203</locationX>
        <locationY>536</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Please click on &lt;b&gt;Finish &lt;/b&gt;to complete the flow..&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>CH_FetchProblem</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>CH_ChatterMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear @[{!CH_LoopSObject.OwnerId}], the temporary solution for the related Problem has been updated. Please review and take action where needed.</text>
    </textTemplates>
    <variables>
        <name>CH_IncidentCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CH_LoopSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CH_ProblemSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>KnownErrorRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
</Flow>
