src/flows/CH_PopulateSolutionFromProblem.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CH_PostToChatter</name>
        <label>Post To Chatter</label>
        <locationX>344</locationX>
        <locationY>524</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>CH_IncidentLoop</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CH_LoopVariable.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CH_ChatterMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Problem_to_Article_Mapping</name>
        <label>Problem to Article Mapping</label>
        <locationX>732</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_WorkAround__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.CH_TemporarySolution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_ProblemDescriptionRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ifProblemStatement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.CH_SolutionDetails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_DiagnosticSteps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.CH_SummaryofAnalysis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.CH_ListofContributingCauses__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_ProductId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_ProblemSObject.ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedArticle.CH_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Known Solution</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Article</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>KnowledgeSobjectType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knowledge__kav</stringValue>
        </value>
    </constants>
    <constants>
        <name>KnownErrorRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Known Error</stringValue>
        </value>
    </constants>
    <constants>
        <name>LookForDraftArticle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CH_Condition</name>
        <label>Condition</label>
        <locationX>182</locationX>
        <locationY>147</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_SolutionDetailsFieldInProblemIsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_ProblemSObject.CH_SolutionDetails__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_SolutionDetailsFieldInProblemIsNull</targetReference>
            </connector>
            <label>Solution Details Field In Problem Is Empty</label>
        </rules>
        <rules>
            <name>CH_Send_Chatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_ProblemSObject.CH_SolutionDetails__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_IncidentCase</targetReference>
            </connector>
            <label>Send Chatter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Article_Found</name>
        <label>Related Article Found?</label>
        <locationX>724</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>No_Related_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedArticle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_to_Article_Mapping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Yes_Status_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedArticle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ifProblemStatement</name>
        <dataType>String</dataType>
        <expression>if({!CH_ProblemSObject.CH_ProblemStatement__c} != null, {!CH_ProblemSObject.CH_ProblemStatement__c}, &apos;tbd&apos;)</expression>
    </formulas>
    <interviewLabel>Populate Solution From Problem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Solution From Problem</label>
    <loops>
        <name>CH_IncidentLoop</name>
        <label>Incident Loop</label>
        <locationX>345</locationX>
        <locationY>248</locationY>
        <assignNextValueToReference>CH_LoopVariable</assignNextValueToReference>
        <collectionReference>CH_IncidentCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CH_PostToChatter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Problem_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CH_IncidentCase</name>
        <label>Incident Case</label>
        <locationX>183</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_IncidentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_Problem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CH_ProblemSObject.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_IncidentCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_Problem__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CH_SolutionDetails__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CH_ProblemCase</name>
        <label>Problem Case</label>
        <locationX>180</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_ProblemSObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CH_SolutionDetails__c</queriedFields>
        <queriedFields>CH_TemporarySolution__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CH_ProblemStatement__c</queriedFields>
        <queriedFields>CH_SummaryofAnalysis__c</queriedFields>
        <queriedFields>CH_ListofContributingCauses__c</queriedFields>
        <queriedFields>ProductId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Problem_Record_Type</name>
        <label>Get Problem Record Type</label>
        <locationX>697</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Article</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnownErrorRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeSobjectType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>KnownErrorRT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Article</name>
        <label>Get Related Article</label>
        <locationX>561</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Article_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookForDraftArticle</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnownErrorRT.Id</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>RelatedArticle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_WorkAround__c</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>CH_ProblemDescriptionRequired__c</queriedFields>
        <queriedFields>CH_Solution__c</queriedFields>
        <queriedFields>CH_DiagnosticSteps__c</queriedFields>
        <queriedFields>CH_Cause__c</queriedFields>
        <queriedFields>CH_ProductId__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Status_Update</name>
        <label>Status Update</label>
        <locationX>1056</locationX>
        <locationY>603</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Solution Shared</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Article</name>
        <label>Update Related Article</label>
        <locationX>913</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>Status_Update</targetReference>
        </connector>
        <inputReference>RelatedArticle</inputReference>
    </recordUpdates>
    <screens>
        <name>CH_SolutionDetailsFieldInProblemIsNull</name>
        <label>Solution Details Field In Problem Is Null</label>
        <locationX>554</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_SolutionFieldOnProblemIsNullError</name>
            <fieldText>Solution Details Field in Problem should not be Empty.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Related_Article</name>
        <label>No Related Article</label>
        <locationX>901</locationX>
        <locationY>437</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;There is no editable Article related with this Support Ticket.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CH_ProblemCase</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>CH_ChatterMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear @[{!CH_LoopVariable.OwnerId}], a solution for the related Problem has been provided. Please review.</text>
    </textTemplates>
    <variables>
        <name>CH_IncidentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CH_LoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CH_ProblemSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>KnownErrorRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
</Flow>
