src/flows/Flow_to_send_chatter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_members</name>
        <label>Post to members</label>
        <locationX>789</locationX>
        <locationY>364</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>loopeachname</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getquoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Sendthismessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_each_value</name>
        <label>assign each value</label>
        <locationX>437</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>Getname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>geteachname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collectionvariable</name>
        <label>collectionvariable</label>
        <locationX>239</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>collectedlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OptySobjectlookup.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looptooptyteammembers</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Concatenate</name>
        <dataType>String</dataType>
        <expression>{!Getname} &amp; &quot;,&quot;</expression>
    </formulas>
    <interviewLabel>Flow to send chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to send chatter</label>
    <loops>
        <name>loopeachname</name>
        <label>loopeachname</label>
        <locationX>730</locationX>
        <locationY>174</locationY>
        <assignNextValueToReference>geteachname</assignNextValueToReference>
        <collectionReference>collectedlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_each_value</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Looptooptyteammembers</name>
        <label>Looptooptyteammembers</label>
        <locationX>514</locationX>
        <locationY>53</locationY>
        <assignNextValueToReference>OptySobjectlookup</assignNextValueToReference>
        <collectionReference>Optyteammembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>collectionvariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopeachname</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity_Team_member</name>
        <label>Opportunity Team member</label>
        <locationX>209</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looptooptyteammembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>Optyteammembers</outputReference>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <startElementReference>Opportunity_Team_member</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Sendthismessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!Getname}]
The validation request has been submitted and the quote moved to the status &quot; In Review &quot; 

Please verify and submit the Opportunity for Approval.
nokia.my.salesforce.com/{!getquoteId}</text>
    </textTemplates>
    <variables>
        <name>collectedlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>geteachname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetindividualIDS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Getname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getquoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopinginto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Newvariablerecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunityloopsobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>OptySobjectlookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>Optyteammembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>Teammembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Teamoptymembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
