src/flows/PSR_Oppty_Team_Member_Chatter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>postTargetUserType</name>
            <value>
                <stringValue>REFERENCE</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Dear {![OpportunityTeamMember].User.FirstName} {![OpportunityTeamMember].User.LastName},\n\nYou have been assigned to the Opportunity Team as {![OpportunityTeamMember].TeamMemberRole}.\n\n•\tPre-Sales Opportunity Number: {![OpportunityTeamMember].Opportunity.Opportunity_ID__c}\n•\tPre-Sales Opportunity Name: {![OpportunityTeamMember].Opportunity.Name}\n•\tCustomer: {![OpportunityTeamMember].Opportunity.Account.Name}\n•\tLead BG Pre-Sales: {![OpportunityTeamMember].Opportunity.PSR_Lead_Business_Group__c}\n\nRegards,\nNokia Salesforce CRM\n\nOpportunity Link: https://nokia.lightning.force.com/{![OpportunityTeamMember].Opportunity.Id}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Post Oppty Team Member</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear {!myVariable_current.User.FirstName} {!myVariable_current.User.LastName},

You have been assigned to the Opportunity Team as {!myVariable_current.TeamMemberRole}.

•	Pre-Sales Opportunity Number: {!myVariable_current.Opportunity.Opportunity_ID__c}
•	Pre-Sales Opportunity Name: {!myVariable_current.Opportunity.Name}
•	Customer: {!myVariable_current.Opportunity.Account.Name}
•	Lead BG Pre-Sales: {!myVariable_current.Opportunity.PSR_Lead_Business_Group_Old__c}

Regards,
Nokia Salesforce CRM

Opportunity Link: https://nokia.lightning.force.com/{!myVariable_current.Opportunity.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New Team Member Added</label>
        </rules>
    </decisions>
    <description>Pre Sales : Req 2764. Opportunity Team Member Notification</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[OpportunityTeamMember].Opportunity.RecordType.DeveloperName= &apos;Pre_Sales_Risk_Opportunity&apos;,
[OpportunityTeamMember].Opportunity.RecordType.DeveloperName = &apos;Pre_Sales_Risk_Opportunity_read_only&apos;
),
$Profile.Name &lt;&gt; $Label.Data_Loader_Profile_Name,
[OpportunityTeamMember].User.Id &lt;&gt; Null
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_current.Opportunity.RecordType.DeveloperName}= &apos;Pre_Sales_Risk_Opportunity&apos;,
{!myVariable_current.Opportunity.RecordType.DeveloperName} = &apos;Pre_Sales_Risk_Opportunity_read_only&apos;
),
{!$Profile.Name} &lt;&gt; {!$Label.Data_Loader_Profile_Name},
{!myVariable_current.User.Id} &lt;&gt; Null
)</expression>
    </formulas>
    <interviewLabel>PSR_Oppty_Team_Member_Chatter-18_InterviewLabel</interviewLabel>
    <label>PSR Oppty Team Member Chatter</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>OpportunityTeamMember</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
