src/flows/Quote_PriceList_Population.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Euro_Currency</name>
        <label>Check Euro Currency</label>
        <locationX>310</locationX>
        <locationY>24</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Oppty_Currency_Is_Euro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityCurrency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Euro_PriceList</targetReference>
            </connector>
            <label>Oppty Currency Is Euro</label>
        </rules>
        <rules>
            <name>Oppty_Currency_Is_Not_Euro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityCurrency</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Indirect_Direct</targetReference>
            </connector>
            <label>Oppty Currency Is Not Euro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Indirect_Direct</name>
        <label>Check Indirect Direct</label>
        <locationX>499</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>PriceList_for_Direct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Direct_Quote_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct CPQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriceList_for_Direct</targetReference>
            </connector>
            <label>Direct Quote Check</label>
        </rules>
        <rules>
            <name>Indirect_Quote_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect CPQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriceList_in_Indirect</targetReference>
            </connector>
            <label>Indirect Quote Check</label>
        </rules>
    </decisions>
    <interviewLabel>Quote PriceList Population {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote PriceList Population</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Euro_PriceList</name>
        <label>Lookup Euro PriceList</label>
        <locationX>177</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Euro_PriceList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus_Config2__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_Config2__BasedOnPriceListId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </filters>
        <filters>
            <field>PriceList_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ</stringValue>
            </value>
        </filters>
        <object>Apttus_Config2__PriceList__c</object>
        <outputAssignments>
            <assignToReference>priceListID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PriceList_for_Direct</name>
        <label>PriceList for Direct</label>
        <locationX>452</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Direct_Quote_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus_Config2__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_Config2__BasedOnPriceListId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityCurrency</elementReference>
            </value>
        </filters>
        <filters>
            <field>PriceList_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ</stringValue>
            </value>
        </filters>
        <object>Apttus_Config2__PriceList__c</object>
        <outputAssignments>
            <assignToReference>priceListID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PriceList_in_Indirect</name>
        <label>PriceList in Indirect</label>
        <locationX>682</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indirect_Quote_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus_Config2__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_Config2__BasedOnPriceListId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityCurrency</elementReference>
            </value>
        </filters>
        <filters>
            <field>PriceList_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ</stringValue>
            </value>
        </filters>
        <object>Apttus_Config2__PriceList__c</object>
        <outputAssignments>
            <assignToReference>priceListID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Direct_Quote_Update</name>
        <label>Direct Quote Update</label>
        <locationX>439</locationX>
        <locationY>392</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apttus_QPConfig__PriceListId__c</field>
            <value>
                <elementReference>priceListID</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus_Proposal__Proposal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Indirect_Quote_Update</name>
        <label>Indirect Quote Update</label>
        <locationX>693</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apttus_QPConfig__PriceListId__c</field>
            <value>
                <elementReference>priceListID</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus_Proposal__Proposal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Euro_PriceList</name>
        <label>Update Euro PriceList</label>
        <locationX>163</locationX>
        <locationY>263</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apttus_QPConfig__PriceListId__c</field>
            <value>
                <elementReference>priceListID</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus_Proposal__Proposal__c</object>
    </recordUpdates>
    <startElementReference>Check_Euro_Currency</startElementReference>
    <status>Active</status>
    <variables>
        <name>OpportunityCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priceListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
